# Ignore system files
.DS_Store
Thumbs.db

# Ignore Windows system folders
AppData/
Application Data/
Cookies/
Local Settings/
My Documents/
Temp/
*.log

# Ignore build and temporary files
node_modules/
dist/
*.tmp
